.woocommerce-account
    .woocommerce
        * 
            font-family: Rubik
        .under_form_text
            font-size: 14px
            color: rgba( 36, 36, 36, .5)
            line-height: 1.25
            margin-top: 5px 
        .featured-box
            margin-top: 4px 
            margin-bottom: 182px
            .box-content
                padding-top: 0
                .u-column1
                    padding-left: 0
                .u-column2
                    padding-right: 0
                #customer_login 
                    margin: 0
                h2 
                    margin-bottom: 23px
                    font-weight: 700
                    text-transform: none 
                    font-size: 24px 
                    line-height: 1.2
                div.register
                    margin-top: 46px 
                form 
                    background: #fff 
                    border-radius: 10px 
                    padding: 30px 30px 30px 31px 
                    border: 0
                    #rememberme
                        width: 18px 
                        height: 18px 
                    .register_password + p,
                    .woocommerce-privacy-policy-text p,
                    .woocommerce-privacy-policy-text a
                        font-size: 14px 
                        color: #242424
                        margin-bottom: 15px
                        line-height: 1.25
                    .woocommerce-privacy-policy-text p
                        margin-top: 15px 
                    .woocommerce-privacy-policy-text a 
                        color: #0088CC !important
                    .form_title
                        font-size: 16px 
                        font-weight: 700 
                        margin-bottom: 20px 
                        line-height: 1.2
                    .woocommerce-Button
                        background: #0088CC
                        padding: 12px 20px 
                        font-size: 14px 
                        color: #fff 
                        line-height: 1.2
                        height: auto
                        width: auto 
                        border-radius: 3px 
                        margin-top: 5px 
                        text-transform: none
                    .form-row 
                        margin-bottom: 0
                        label:not(.woocommerce-form-login__rememberme)
                            display: none
                        input 
                            font-size: 14px 
                            height: 44px 
                            padding-left: 20px 
                            padding-top: 13px 
                            padding-bottom: 14px
                            margin-bottom: 15px 
                            border: 1px solid rgba( 36, 36, 36, .1 )
                            border-radius: 5px  
                            color: rgba( 36, 36, 36, .5) !important
                            &::placeholder
                                color: rgba( 36, 36, 36, .5) !important
                        .woocommerce-form-login__rememberme 
                            margin-bottom: 0
                            input 
                                width: 18px 
                                height: 18px 
                                padding: 0
                                border-radius: 4px 
                                border: 1px solid rgba( 36, 36, 36, .5)
                            span 
                                color: rgba( 36, 36, 36, .5 )
                                &::before 
                                    color: rgba( 36, 36, 36, .5 )
                        &.login_button_wrapper
                            display: flex 
                            flex-direction: column 
                            align-items: flex-start
                    .woocommerce-LostPassword 
                        margin-top: -20px 
                        margin-right: -10px 
                        a
                            font-size: 12px 
                            line-height: 1.2
                            color: rgba( 36, 36, 36, .5) !important
                .register
                    form 
                        padding-bottom: 27px
                        .form-row 
                            input
                                margin-bottom: 20px
                        .woocommerce-Button
                            margin-top: 2px
                            line-height: 1.25
@media(max-width: 1200px)
    .woocommerce-account 
        .woocommerce 
            .featured-box 
                .box-content
                    #customer_login 
                        display: flex 
                        align-items: stretch
                        .woocommerce-form-login
                            height: calc( 100% - 46px )
                            display: flex 
                            justify-self: center
                            flex-direction: column
                            .woocommerce-LostPassword
                                text-align: right
@media(max-width: 991px)
    .woocommerce-account 
        .woocommerce 
            .featured-box 
                padding: 0
                margin-bottom: 72px
                .box-content
                    #customer_login 
                        display: block
                        h2 
                            text-align: left
                        form 
                            max-width: 100%
                            &.woocommerce-form-login 
                                margin-bottom: 20px  
@media(max-width: 767px)
    .woocommerce-account 
        .woocommerce 
            .featured-box 
                margin-bottom: 150px
                .box-content
                    padding-bottom: 10px
                    #customer_login 
                        h2
                            margin-bottom: 30px
                        form,
                        form.woocommerce-form-login
                            display: block
                            padding: 20px 
                            .lost_password
                                margin-right: 0
                            .login_button_wrapper
                                padding-bottom: 3px
                        form.woocommerce-form-login
                            margin-bottom: 15px 
                        .register
                            margin-top: 30px
                            form 
                                .form-row 
                                    .woocommerce-Button
                                        margin-top: 5px
@media(min-width: 992px)
    .under_form_text.mobile 
        display: none