.account--form--title
	font-style: normal
	font-weight: bold
	font-size: 16px
	line-height: 19px
	color: #242424
	margin-top: 0
	text-transform: uppercase
	font-family: Dinprobold, sans-	serif
	margin-bottom: 20px
.account--form--row
	padding: 30px

.account--form--row.account--form--wrapper.change-password-cust--featured
	margin-top: 0 !important

.account--button--wrapper
	width: 100% !important
	text-align: center
