.blogPage__card
  background-color: #fff
  border-radius: 5px
  display: flex
  flex-direction: column
  height: 100%
  position: relative
  justify-content: space-between

  .image
    padding: 20px

  .date
    font-size: 12px
    font-weight: 400
    color: #919191
    position: absolute
    right: 20px
    top: 4px

  .image img
    max-width: 100%
    height: auto !important

  .text
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 20px
    padding-top: 25px

    .blue-btn
      padding: 15px 20px
      color: #fff !important

      &:hover
        color: #fff !important

    h3
      font-size: 18px
      font-weight: 700
      color: #242424
      line-height: 1.4